@font-face {
  font-family: 'code-light-regular';
  src: url("../fonts/code/Code-Light.ttf") format('truetype'),
       url("../fonts/code/Code-Light.otf") format('opentype');
}

@font-face {
  font-family: 'century-gothic-regular';
  src: url("../fonts/gothic/CenturyGothic.eot") format('embedded-opentype'),
       url("../fonts/gothic/CenturyGothic.woff") format('woff'),
       url("../fonts/gothic/CenturyGothic.ttf")  format('truetype'),
       url("../fonts/gothic/CenturyGothic.svg") format('svg');
}