.custom-owl-prev,
.custom-owl-next {
  width: 3vw;
  height: 16vh;
  display: block;
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  &:hover {
    cursor: pointer;
  }
}

.custom-owl-prev-small,
.custom-owl-next-small {
  width: 3vw;
  height: 8vh;
  display: block;
  position: absolute;
  top: 58%;
  z-index: 2;
  @include transform(translateY(-50%));
  &:hover {
    cursor: pointer;
  }
}

.custom-owl-prev,
.custom-owl-prev-small {
  background: #000 url("../images/background/left-arrow.png") 50% 50% no-repeat;
}

.custom-owl-next,
.custom-owl-next-small {
  right: 0;
  background: #000 url("../images/background/right-arrow.png") 50% 50% no-repeat;
}

//.custom-owl-prev-small {
//  left: -10%;
//}
//
//.custom-owl-next-small {
//  right: -10%;
//}

.owl-dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  text-align: center;
  @include transform(translateX(-50%));
}

.owl-dot {
  height: 20px;
  width: 20px;
  margin: 0 2px;
  display: inline-block;
  border: 2px solid #3f3f44;
  background: #3f3f44;
}

.active {
  background: #ffeb00;
}